Repository AidanTomcy/AidanTomcy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix",
  "*.{ts,js,css,scss}": "prettier -w"
}

Add pre-commit hook for Husky
  .husky/pre-commit
Due: none

Update script names for Tailwind CSS in README
  README.md
Due: none

Improve responsiveness on mobile and use grid for header styling
  dist/bundle.css
  dist/bundle.css.map
  dist/bundle.js.map
  dist/main.css
  index.html
  src/scss/styles.scss
Due: prettier -w

Fix formatting
  index.html
Due: none

Update lint-staged config to run Prettier on Markdown, Yaml and JSON files
  .lintstagedrc.json
Due: none

Fix indentation error in yarn.lock
  yarn.lock
Due: none

Set global paragraph width
  dist/bundle.css
  dist/bundle.css.map
  index.html
  projects.html
  src/scss/styles.scss
Due: prettier -w

Fix typos and grammatical errors
  dist/main.css
  index.html
  projects.html
Due: prettier -w

Update code to export webpack config as const
  webpack.config.ts
Due: eslint --fix, prettier -w

Use types in Webpack config
  webpack.config.ts
Due: eslint --fix, prettier -w

Added CNAME file for custom domain (aidantomcy.me)
  CNAME
Due: none

Switch to pnpm
  .yarn/.gitkeep
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  pnpm-lock.yaml
  yarn.lock
Due: none

Update pre-commit hook to use pnpm
  .husky/pre-commit
Due: none

Disable explorer file nesting in VS Code config
  .vscode/settings.json
Due: none

Apply rules for JSON and other file formats to YAML
  .editorconfig
Due: none

Use pnpm in Playwright config
  playwright.config.ts
Due: eslint --fix, prettier -w

Format YAML files and configure workflows to use pnpm
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: none

Fix syntax error in lint and test workflow files
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: none

Add version input for pnpm GitHub action
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
Due: none

Fix error in install script in lint workflow
  .github/workflows/lint.yml
Due: none

Update commands in README to use pnpm instead of yarn
  README.md
Due: none

Upgrade Tailwind CSS to version 3.2
  package.json
  pnpm-lock.yaml
Due: none

Update descriptions for some projects
  index.html
  projects.html
Due: none

Add configuration to hide dist directory in VS Code
  .vscode/settings.json
Due: none

Disable dependabot
  .github/dependabot.yml
Due: none

Remove webpack bundle analyzer plugin
  package.json
  pnpm-lock.yaml
  webpack.config.ts
Due: eslint --fix, prettier -w

Add setting to hide img directory in VS Code file explorer
  .vscode/settings.json
Due: none

Add build workflow
  .github/workflows/build.yml
Due: none

Update command to install dependencies in build workflow
  .github/workflows/build.yml
Due: none

add constants file
  tests/constants.ts
Due: eslint --fix, prettier -w

add script to prepare husky in package.json
  package.json
Due: none

update tests to use constants from the constants file
  tests/home.spec.ts
  tests/theme.spec.ts
Due: eslint --fix, prettier -w

create .gitattributes file
  .gitattributes
Due: none

set loading to lazy for all images in image grid
  index.html
Due: none

add imgbot config
  .imgbotconfig
Due: none

[ImgBot] Optimize images
  img/bash.svg
  img/codepen.png
  img/css.svg
  img/git.svg
  img/html.svg
  img/javascript.svg
  img/jquery.svg
  img/nodejs.svg
  img/php.svg
  img/playwright.svg
  img/pyautorun.gif
  img/python.svg
  img/replit.svg
  img/saintsforus.png
  img/stack-overflow.svg
  img/subl.svg
  img/tailwind.svg
  img/typescript.png
  img/vscode.svg
  img/webpack.png
  img/windows.png
Due: none

group settings in vs code config
  .vscode/settings.json
Due: none

remove redundant styles
  dist/bundle.css
  dist/bundle.css.map
  src/scss/styles.scss
Due: prettier -w

add swc-loader and remove ts-loader
  package.json
  pnpm-lock.yaml
Due: none

add swc config
  .swcrc
Due: none
