Repository AidanTomcy/AidanTomcy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

optimize for smaller screens
  src/components/StuffIUse.svelte
  src/layouts/Layout.astro
  src/pages/index.astro
Due: none

add website description in layout.astro
  src/layouts/Layout.astro
Due: none

replace li in card component with div
  src/components/Card.svelte
Due: none

install partytown
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier -w

add splitbee analytics
  src/layouts/Layout.astro
Due: none

remove contact id from About.svelte
  src/components/About.svelte
Due: none

Update deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

Add Song component and update About component
  src/components/About.svelte
  src/components/Song.svelte
Due: none

Update Card component styling
  src/components/Card.svelte
Due: none

Update image alt text in Intro and StuffIUse components
  src/components/Intro.svelte
  src/components/StuffIUse.svelte
Due: none

switch to bun (cuz why not)
  bun.lockb
  pnpm-lock.yaml
Due: none

replace png with webp
  public/aidan.jpg
  public/aidan.webp
  src/components/Intro.svelte
Due: none

remove spotify iframe
  src/components/About.svelte
  src/components/Song.svelte
Due: none

add favicon
  public/favicon.svg
  src/layouts/Layout.astro
Due: none

fix duplicate id
  src/components/StuffIUse.svelte
Due: none

update astro to v4.4
  bun.lockb
Due: none

compress webp
  public/aidan.webp
Due: none

add astro svg and remove mongodb, postgres and sass svgs
  public/astro.svg
  public/mongodb.svg
  public/postgres.svg
  public/sass.svg
  src/components/utils/stuffIUse.ts
Due: eslint --fix, prettier -w

add updated rust logo
  public/rust.svg
Due: none

remove github pages deploy action
  .github/.gitkeep
  .github/workflows/deploy.yml
Due: prettier -w

remove splitbee analytics
  src/layouts/Layout.astro
Due: none

replace splitbee analytics with vercel analytics
  astro.config.mjs
  bun.lockb
  package.json
Due: prettier -w

remove partytown integration
  astro.config.mjs
Due: none

add vercel speed insights
  bun.lockb
  package.json
  src/layouts/Layout.astro
Due: prettier -w

remove partytown integration
  bun.lockb
  package.json
Due: prettier -w

update config to hide .astro directory in vs code
  .vscode/settings.json
Due: prettier -w

update deps
  bun.lockb
Due: none

rewrite tailwind config in typescript
  tailwind.config.ts
Due: eslint --fix, prettier -w

update deps
  bun.lockb
  package.json
  src/components/Card.svelte
Due: prettier -w

update deps
  bun.lockb
  package.json
  src/env.d.ts
Due: eslint --fix, prettier -w

remove unused footer component
  src/components/Footer.svelte
  src/components/FooterLink.svelte
Due: none

update deps
  bun.lockb
  package.json
Due: prettier -w

remove redundant files
  src/components/stores/themeStore.ts
  src/components/utils/setTheme.ts
  src/env.d.ts
Due: eslint --fix, prettier -w

upgrade to svelte v5 and astro v5
  bun.lockb
  package.json
  src/components/Card.svelte
  src/components/NavItem.svelte
  svelte.config.js
Due: eslint --fix, prettier -w

remove splitbee analytics and partytown integration
  astro.config.mjs
  bun.lockb
  package.json
  src/layouts/Layout.astro
Due: prettier -w

upgrade actions/checkout workflow to v4
  .github/workflows/deploy.yml
Due: prettier -w

update github actions workflows
  .github/workflows/deploy.yml
Due: prettier -w

changes
  src/components/Intro.svelte
  src/components/StuffIUse.svelte
Due: none

updated astro to latest version
  bun.lockb
  package.json
Due: prettier -w

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier -w: any of: *.{ts,js,css,scss,md,yml,json}
