Repository AidanTomcy/AidanTomcy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix",
  "*.{ts,js,css,scss,md,yml,json}": "prettier -w"
}

switch to swc for improved performance
  dist/bundle.css
  dist/bundle.js
  dist/bundle.js.map
  dist/main.css
  webpack.config.ts
Due: eslint --fix, prettier -w

remove style-loader dependency
  package.json
  pnpm-lock.yaml
Due: prettier -w

move types file to rootDir
  src/types.d.ts
  src/types/theme.d.ts
  src/utils/theme.ts
Due: eslint --fix, prettier -w

install lightningcss as dev dependency
  package.json
  pnpm-lock.yaml
Due: prettier -w

update webpack config to use lightningcss
  dist/bundle.css
  dist/bundle.css.map
  dist/bundle.js.map
  webpack.config.ts
Due: eslint --fix, prettier -w

add updated image
  img/aidan.jpg
Due: none

increase image border radius
  dist/bundle.css
  dist/bundle.css.map
  src/scss/styles.scss
Due: prettier -w

update description
  index.html
Due: none

add updated gif for pymon project
  img/pyautorun.gif
  img/pymon.gif
  projects.html
Due: none

add image for fortune project
  img/fortune.gif
Due: none

init tailwind
  astro.config.mjs
  tailwind.config.cjs
Due: none

install prettier and astro prettier plugin
  package.json
  pnpm-lock.yaml
Due: prettier -w

clean up index astro file
  src/pages/index.astro
Due: none

[ImgBot] Optimize images
  img/css.svg
  img/fortune.gif
  img/git.svg
  img/html.svg
  img/javascript.svg
  img/nodejs.svg
  img/playwright.svg
  img/pymon.gif
  img/python.svg
  img/saintsforus.png
  img/subl.svg
  img/tailwind.svg
  img/typescript.png
  img/vscode.svg
Due: none

clean up layout file
  src/layouts/Layout.astro
Due: none

add navbar component
  src/components/Navbar.astro
Due: none

use navbar component in Layout.astro
  src/layouts/Layout.astro
Due: none

add transition in navbar items
  src/components/Navbar.astro
Due: none

update default font
  src/layouts/Layout.astro
Due: none

use tailwind apply directive to add navbar classes
  src/components/Navbar.astro
Due: none

add secondary text color to unactive navbar items
  src/components/Navbar.astro
Due: none

add about component
  src/components/About.astro
Due: none

use about component in index.astro
  src/pages/index.astro
Due: none

fix viewport meta tag error
  src/layouts/Layout.astro
Due: none

decrease element width in about component
  src/components/About.astro
Due: none

update look and feel of card component
  src/components/Card.astro
Due: none

create projects component
  src/components/Projects.astro
Due: none

use projects component in index.astro
  src/pages/index.astro
Due: none

add cname file
  CNAME
Due: none

add code of conduct
  CODE_OF_CONDUCT.md
Due: prettier -w

add license
  LICENSE
Due: none

add settings.json
  .vscode/settings.json
Due: prettier -w

update project name and add license field in package.json
  package.json
Due: prettier -w

install svelte and astro svelte plugin
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint --fix, prettier -w

add sun and moon icon components for button to change theme
  src/components/_icons/Moon.svelte
  src/components/_icons/Sun.svelte
Due: none

add themes type in env.d.ts
  src/env.d.ts
Due: eslint --fix, prettier -w

add theme button component and theme store
  src/components/ThemeButton.svelte
  src/components/stores/themeStore.ts
  src/components/utils/setTheme.ts
Due: eslint --fix, prettier -w

display theme button in navbar
  src/components/Navbar.astro
Due: none

optimized about component for light mode
  src/components/About.astro
Due: none
